/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 *= require_tree .
 */

body {
  background-image: image-url("bg.png");
  background-position: top left;
  background-repeat: repeat;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "omnes-pro" !important;
  color: #043d40 !important;
}

.centered {
  text-align: center;
}

.logo {
  margin-top: 2em;
}

.strap {
  margin-top: 1.5em;
}
