<div class="row">
  <div class="col-lg-12">
    <div class="splash">
      <%= image_tag("logo.png", class: "logo", alt: "Undercurrent") %>
      <h2 class="strap">Saving money and energy, together.</h2>
      <div class="blurb">
        <p>We're <a href="http://collabfinder.com/project/715/communal-power-generation-for-leaseholders-via-collective-enfranchisement">building a service</a> to help you team up with your neighbours to make energy-saving improvements to your homes, saving money and building sustainable communities.</p>
        <p><a href="http://twitter.com/undercurrent_gb">Follow us on Twitter</a> to find out when it's ready!</p>
      </div>
    </div>
  </div>
</div>
